body{
	background-image: url("background.jpg");
	text-align: center;
	color: F5EEE6;
}

h1{
	font-size: 50px;
	transform: translate(0px, 20px);
}

button{
	height: 60px;
	width: 60px;
	font-size: 20px;
	background-color: F5EEE6;
	border: inset;
	color: teal;
	padding: 5px;
}

#lbloutput{
	background-color: F5EEE6;
	color: teal;
	font-size: 20px;
	padding: 5px;
	border: inset;

}