button{
	width: 40px;
	height: 40px;
	background-color: lavender;
	border-color: mediumpurple;
	margin-top: 4px;
}
#btnequal,#btnclear{
	width: 84px
}
#lblfullbtns{
	border: outset;
	border-color: mediumpurple;
	background-color: lavender;
	border-width: 2px;
	padding-right: 168px;
	padding-top: 2px;
	padding-bottom: 2px;
}