body{
	background-color: #FAEED1;
	text-align: center;
}

button{
	background-color: #FAEED1;
	border: inset #DED0B6 4px;
}

input, select{
	padding: 3px;
	background-color: #FAEEE8;
}

#divDisplayOutputs{
	color: #607274;
}

